<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kang.dao.CurrencyMapper" >
  <resultMap id="BaseResultMap" type="com.kang.pojo.Currency" >
    <id column="currencyID" property="currencyid" jdbcType="INTEGER" />
    <result column="chineseName" property="chinesename" jdbcType="VARCHAR" />
    <result column="englishName" property="englishname" jdbcType="VARCHAR" />
    <result column="exchangeRateRMB" property="exchangeratermb" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="createPersonID" property="createpersonid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    currencyID, chineseName, englishName, exchangeRateRMB, status, createDate, createPersonID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from currency
    where currencyID = #{currencyid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from currency
    where currencyID = #{currencyid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kang.pojo.Currency" >
    insert into currency (currencyID, chineseName, englishName, 
      exchangeRateRMB, status, createDate, 
      createPersonID)
    values (#{currencyid,jdbcType=INTEGER}, #{chinesename,jdbcType=VARCHAR}, #{englishname,jdbcType=VARCHAR}, 
      #{exchangeratermb,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, 
      #{createpersonid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kang.pojo.Currency" >
    insert into currency
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="currencyid != null" >
        currencyID,
      </if>
      <if test="chinesename != null" >
        chineseName,
      </if>
      <if test="englishname != null" >
        englishName,
      </if>
      <if test="exchangeratermb != null" >
        exchangeRateRMB,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
      <if test="createpersonid != null" >
        createPersonID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="currencyid != null" >
        #{currencyid,jdbcType=INTEGER},
      </if>
      <if test="chinesename != null" >
        #{chinesename,jdbcType=VARCHAR},
      </if>
      <if test="englishname != null" >
        #{englishname,jdbcType=VARCHAR},
      </if>
      <if test="exchangeratermb != null" >
        #{exchangeratermb,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createpersonid != null" >
        #{createpersonid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kang.pojo.Currency" >
    update currency
    <set >
      <if test="chinesename != null" >
        chineseName = #{chinesename,jdbcType=VARCHAR},
      </if>
      <if test="englishname != null" >
        englishName = #{englishname,jdbcType=VARCHAR},
      </if>
      <if test="exchangeratermb != null" >
        exchangeRateRMB = #{exchangeratermb,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createpersonid != null" >
        createPersonID = #{createpersonid,jdbcType=INTEGER},
      </if>
    </set>
    where currencyID = #{currencyid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kang.pojo.Currency" >
    update currency
    set chineseName = #{chinesename,jdbcType=VARCHAR},
      englishName = #{englishname,jdbcType=VARCHAR},
      exchangeRateRMB = #{exchangeratermb,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      createPersonID = #{createpersonid,jdbcType=INTEGER}
    where currencyID = #{currencyid,jdbcType=INTEGER}
  </update>
</mapper>