<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kang.dao.OrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.kang.pojo.Organization" >
    <id column="organizationID" property="organizationid" jdbcType="INTEGER" />
    <result column="organizationName" property="organizationname" jdbcType="VARCHAR" />
    <result column="firstID" property="firstid" jdbcType="INTEGER" />
    <result column="secondID" property="secondid" jdbcType="INTEGER" />
    <result column="whetherDisabled" property="whetherdisabled" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="createPersonID" property="createpersonid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    organizationID, organizationName, firstID, secondID, whetherDisabled, createTime, 
    createPersonID
  </sql>
  <sql id="orgList">
  	organizationID,organizationName
  </sql>
  <select id="selectObject" resultMap="BaseResultMap" parameterType="java.lang.String" >
  	select organizationID from organization where organizationName=#{organizationName}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from organization
    where organizationID = #{organizationid,jdbcType=INTEGER}
  </select>
  <select id="selectListOrg" resultMap="BaseResultMap">
  	select organizationid,organizationname
  	from organization 
  </select>
  <select id="selOrganizationName" resultType="java.lang.String" parameterType="java.lang.Integer">
  	select organizationname from organization where createPersonID=#{userID}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from organization
    where organizationID = #{organizationid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kang.pojo.Organization" >
    insert into organization (organizationID, organizationName, 
      firstID, secondID, whetherDisabled, 
      createTime, createPersonID)
    values (#{organizationid,jdbcType=INTEGER}, #{organizationname,jdbcType=VARCHAR}, 
      #{firstid,jdbcType=INTEGER}, #{secondid,jdbcType=INTEGER}, #{whetherdisabled,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createpersonid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kang.pojo.Organization" >
    insert into organization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="organizationid != null" >
        organizationID,
      </if>
      <if test="organizationname != null" >
        organizationName,
      </if>
      <if test="firstid != null" >
        firstID,
      </if>
      <if test="secondid != null" >
        secondID,
      </if>
      <if test="whetherdisabled != null" >
        whetherDisabled,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="createpersonid != null" >
        createPersonID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="organizationid != null" >
        #{organizationid,jdbcType=INTEGER},
      </if>
      <if test="organizationname != null" >
        #{organizationname,jdbcType=VARCHAR},
      </if>
      <if test="firstid != null" >
        #{firstid,jdbcType=INTEGER},
      </if>
      <if test="secondid != null" >
        #{secondid,jdbcType=INTEGER},
      </if>
      <if test="whetherdisabled != null" >
        #{whetherdisabled,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createpersonid != null" >
        #{createpersonid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kang.pojo.Organization" >
    update organization
    <set >
      <if test="organizationname != null" >
        organizationName = #{organizationname,jdbcType=VARCHAR},
      </if>
      <if test="firstid != null" >
        firstID = #{firstid,jdbcType=INTEGER},
      </if>
      <if test="secondid != null" >
        secondID = #{secondid,jdbcType=INTEGER},
      </if>
      <if test="whetherdisabled != null" >
        whetherDisabled = #{whetherdisabled,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createpersonid != null" >
        createPersonID = #{createpersonid,jdbcType=INTEGER},
      </if>
    </set>
    where organizationID = #{organizationid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kang.pojo.Organization" >
    update organization
    set organizationName = #{organizationname,jdbcType=VARCHAR},
      firstID = #{firstid,jdbcType=INTEGER},
      secondID = #{secondid,jdbcType=INTEGER},
      whetherDisabled = #{whetherdisabled,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      createPersonID = #{createpersonid,jdbcType=INTEGER}
    where organizationID = #{organizationid,jdbcType=INTEGER}
  </update>
</mapper>