<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kang.dao.PurchaseInquiry_itemInformationMapper" >
  <resultMap id="BaseResultMap" type="com.kang.pojo.PurchaseInquiry_itemInformation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="purchaseInquiryID" property="purchaseinquiryid" jdbcType="INTEGER" />
    <result column="itemInformationID" property="iteminformationid" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, purchaseInquiryID, itemInformationID, number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from purchaseinquiry_iteminformation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from purchaseinquiry_iteminformation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kang.pojo.PurchaseInquiry_itemInformation" >
    insert into purchaseinquiry_iteminformation (id, purchaseInquiryID, itemInformationID, 
      number)
    values (#{id,jdbcType=INTEGER}, #{purchaseinquiryid,jdbcType=INTEGER}, #{iteminformationid,jdbcType=INTEGER}, 
      #{number,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kang.pojo.PurchaseInquiry_itemInformation" >
    insert into purchaseinquiry_iteminformation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="purchaseinquiryid != null" >
        purchaseInquiryID,
      </if>
      <if test="iteminformationid != null" >
        itemInformationID,
      </if>
      <if test="number != null" >
        number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="purchaseinquiryid != null" >
        #{purchaseinquiryid,jdbcType=INTEGER},
      </if>
      <if test="iteminformationid != null" >
        #{iteminformationid,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kang.pojo.PurchaseInquiry_itemInformation" >
    update purchaseinquiry_iteminformation
    <set >
      <if test="purchaseinquiryid != null" >
        purchaseInquiryID = #{purchaseinquiryid,jdbcType=INTEGER},
      </if>
      <if test="iteminformationid != null" >
        itemInformationID = #{iteminformationid,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kang.pojo.PurchaseInquiry_itemInformation" >
    update purchaseinquiry_iteminformation
    set purchaseInquiryID = #{purchaseinquiryid,jdbcType=INTEGER},
      itemInformationID = #{iteminformationid,jdbcType=INTEGER},
      number = #{number,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>