<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kang.dao.PurchaseInquiry_supplierMapper" >
  <resultMap id="BaseResultMap" type="com.kang.pojo.PurchaseInquiry_supplier" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="purchaseInquiryID" property="purchaseinquiryid" jdbcType="INTEGER" />
    <result column="supplierID" property="supplierid" jdbcType="INTEGER" />
    <result column="quoteState" property="quotestate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, purchaseInquiryID, supplierID, quoteState
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from purchaseinquiry_supplier
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from purchaseinquiry_supplier
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kang.pojo.PurchaseInquiry_supplier" >
    insert into purchaseinquiry_supplier (id, purchaseInquiryID, supplierID, 
      quoteState)
    values (#{id,jdbcType=INTEGER}, #{purchaseinquiryid,jdbcType=INTEGER}, #{supplierid,jdbcType=INTEGER}, 
      #{quotestate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kang.pojo.PurchaseInquiry_supplier" >
    insert into purchaseinquiry_supplier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="purchaseinquiryid != null" >
        purchaseInquiryID,
      </if>
      <if test="supplierid != null" >
        supplierID,
      </if>
      <if test="quotestate != null" >
        quoteState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="purchaseinquiryid != null" >
        #{purchaseinquiryid,jdbcType=INTEGER},
      </if>
      <if test="supplierid != null" >
        #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="quotestate != null" >
        #{quotestate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kang.pojo.PurchaseInquiry_supplier" >
    update purchaseinquiry_supplier
    <set >
      <if test="purchaseinquiryid != null" >
        purchaseInquiryID = #{purchaseinquiryid,jdbcType=INTEGER},
      </if>
      <if test="supplierid != null" >
        supplierID = #{supplierid,jdbcType=INTEGER},
      </if>
      <if test="quotestate != null" >
        quoteState = #{quotestate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kang.pojo.PurchaseInquiry_supplier" >
    update purchaseinquiry_supplier
    set purchaseInquiryID = #{purchaseinquiryid,jdbcType=INTEGER},
      supplierID = #{supplierid,jdbcType=INTEGER},
      quoteState = #{quotestate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>